.episodeItemContainer {
  @apply w-full h-40 cursor-pointer hover:border-red-600;
  @apply xl:max-w-xl md:max-w-full;

  .content {
    @apply h-full p-4 space-y-6 rounded-xl flex flex-row items-start gap-x-4 border border-gray-200 bg-white;
    @apply hover:border-cyan-400;

    .episodeImage {
      @apply rounded-lg h-32;
    }
  }

  .descContent {
    margin-top: 0 !important;

    .title {
      @apply text-xl text-gray-600;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .desc {
      @apply block text-gray-500 mt-4;

      width: fit-content;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

}