.radioItemContainer {
  @apply w-60 h-80 cursor-pointer hover:border-red-600;

  .content {
    @apply h-full p-4 space-y-6 rounded-xl flex flex-col items-center border border-gray-200 bg-white;
    @apply hover:border-cyan-400;

    .radioImage {
      @apply rounded-lg;
    }
  }

  .title {
    @apply text-xl text-gray-600 text-center;
  }
  
  .desc {
    @apply block text-center text-gray-500;
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

}